registry="https://registry.npmmirror.com"
@jsr:registry=https://npm.jsr.io

# Electron 镜像配置
electron_mirror="https://npmmirror.com/mirrors/electron/"
electron_builder_binaries_mirror="https://npmmirror.com/mirrors/electron-builder-binaries/"
